@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
    --font-poppins: 'Poppins', 'sans-serif';
}

.sidebar {
  position: absolute; /* or fixed if you want it to stay in place */
  top: 0;
  left: 0;
  width: 250px; /* adjust */
  height: 100%;
  background: white;
  z-index: 1000; /* must be higher than the map */
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
}

.leaflet-container {
  z-index: 1;
}

/* ElectionMap.css */
.leaflet-popup-content-wrapper {
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.leaflet-popup-content {
  margin: 0;
}

.leaflet-control-container .leaflet-bottom .leaflet-control {
  margin-bottom: 15px; /* push it up */
}

.cluster-icon {
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  background-color: #4f39f6;
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 0 0 25px 4px rgb(181, 181, 181);
  font-family: var(--font-poppins), sans-serif;
}

.street-icon{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #4f39f6;
  transform: translate(-25%, -25%);
  border: 2px solid #ffffff;
  box-shadow: 0 0 25px 4px rgb(181, 181, 181);
}